<li>
	{{name}}

		{{#if devour}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
		EAT DA BURGER
	</button>
		{{else}}
	<button class="delete-burger" data-id="{{id}}">
		CLEAN DA PLATE
	</button>
		{{/if}}
</li>
